
$dark : #252425;
$dark-75 : #252425e1;
$white : #fff;
$failed : #e24343;
$success : #589c51;
$card-p : 3vw;
$radius-round : 1000vw;

$radius : 1.5vw;

$primary : lighten($dark, 20%);

$lang : (
    0 : 'fr',
    1 : 'de',
    2 : 'en',
    3 : 'nl'
);

*[data-trad] {
    display: none;
}

@each $language, $lg in $lang {
    body[data-lang="#{$lg}"] {
        *[data-trad="#{$lg}"] {
            display: block;
        }
    }
}

* {
    box-sizing: border-box;
}

img, video{
    width: 100%;
    border-radius: $radius;
}

.videoPreview {
    transform: scaleX(-1);
}

body {

    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    // background-color: darken($dark, 2%);

    
    &::after, &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &::before {
        background-color: $dark-75;
        z-index: -1;
    }

    &::after {
        background-image: url('assets/medias/image/bg.jpg');
        background-position: center;
        background-size: cover;
        z-index: -2;
    }
    
}

.btn--previous {
    position: absolute;
    top: 5vw;
    left: 5vw;
}

@keyframes step-change {
    from { transform: scale(1.1); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

section {
    text-align: center;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding: 5vw;

    display: none;

    animation: step-change 0.3s ease;

    &.current {
        display: flex;
    }
}


@keyframes loading {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

.loadingScreen {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s opacity ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $dark;

    &-indicator {

        text-align: center;

        svg {
            width: 10vw;
            height: 10vw;

            animation-name: loading;
            animation-iteration-count: infinite;
            animation-duration: 0.8s;
            animation-timing-function: steps(8);
        }

        &-value {

        }
    }
}

body.loading .loadingScreen {
    opacity: 1;
}


.btn {
    // background: lighten($dark, 10%);
    background: $primary;
    padding: $card-p;
    border-radius: $radius;

    &-round {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 10vw;
        height: 10vw;    
        border-radius: $radius-round;
    
        svg {
            width: 40%;
            height: 30%;

            &.timer-svg {
                width: 100%;
                height: 100%;

                circle {
                    fill: $primary;
                }
            }
        }

        &.btn-small {
            width: 7.5vw;
            height: 7.5vw;
            background-color: lighten($dark, 20%);
            
            svg {
                width: 60%;
                height: 60%;
            }
        }
    }

    &-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $card-p;
    }

    &--settings {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 5vw;
        height: 5vw;

        border-radius: 0;
        opacity: 0;
    }

    &--sendFailedMails {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 5vw;
        height: 5vw;

        border-radius: 0;
    }

    &--cancel {
        background-color: $failed;
    }

    &--confirm, &--takePicture {
        background-color: $success;
    }
}

$indicator-height : calc($card-p / 3);
.popup {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    .btn-group {
        margin-top: 5vw;
        color: $white;
    }

    &-center {
        align-items: center;
        background-color: #000000be;
    }

    &-msg {
        position: relative;
        width: 100%;
        margin: 5vw;
        background: lighten($dark, 10%);
        font-weight: 800;
        border-radius: $radius;
        color: $white;
        
        text-align: center;
        
        padding: $card-p;
        padding-top: $card-p + $indicator-height;

        overflow: hidden;
    }
    
    &-failed { color: $failed; }
    &-success { color: $success; }

    p {
        margin: 0;
    }

    opacity: 0;
    transform: translateY(5vw);

    transition: all 0.3s ease;

    &-closeDelay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: $indicator-height;

        background: darken($dark, 3%);

        & > span {
            position: absolute;
            width: 0;
            height: 100%;
            left: 0;
            background: lighten($dark, 20%);
        }
    }

    &-center.popup--open {
        pointer-events: all;
    }

    &.popup--open {
        opacity: 1;
        transform: inherit;
    }
}