* {
    box-sizing: border-box;
}

img, video{
    width: 100%;
}

body {
    background-color: #0f0f0f;
    color: #fff;

    font-size: 4vw;
}

section {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding: 5vw;

    display: none;

    &.current {
        display: flex;
    }
}


.btn--lang {

    color: #fff;

    img {
        border-radius: 10px;
        margin-bottom: 2vw;
    }

    span {
        font-size: 4vw;
    }
}

@keyframes loading {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

.loadingScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-indicator {

        svg {
            animation-name: loading;
            animation-duration: 2s;
            animation-timing-function: steps(8);
        }

        &-value {

        }
    }
}