body.clients {

    .btn--previous {
        position: relative;
        left: inherit;
        top: inherit;
    }

    &::before, &::after {
        content: none;
    }

    background-color: darken($dark, 5%);

    padding: 5vw;
    font-size: 3vw;

    .table {

        width: 100%;

        &-heading {
            display: none;
        }

        &-icon {
            width: 4vw;
            height: 4vw;
            margin-bottom: -1.25vw;
            margin-right: 2vw;
        }   

        &-row {

            position: relative;
            display: grid;
            margin-bottom: 5vw;

            & > td:not(.table-row-infos):not(.table-row-actions) {
                padding: 2vw 2.5vw;
                background-color: $dark;
            }

            &-id { display: none; }
            &-infos {
                span {
                    opacity: .4;
                    font-size: 2vw;
                    margin-left: 1vw;
                }
            }

            &-email {
                border-radius: $radius $radius 0 0;
            }

            &-video {
                a { display: block; width: 100%; }
                border-radius: 0 0 $radius $radius;
            }

            &-actions {
                $size : 7.5vw;

                position: absolute;
                right: $size * 0.25;
                top: $size * 0;
            }
        }
    }
}